*.iml
.gradle/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
*.keystore
.idea
.mimocode
.agent/
.claude/
.codegraph
.kotlin/
.vscode/
docs/
小米超级岛反编译相关/
app/build/
app/release/
app/offline/
app/online/
app/src/androidTest
AGENTS.md
CLAUDE.md
app/src/main/java/com/juren233/hyperlyricsenhanced/ui/utils/ContributorsProvider.kt
app/src/main/res/drawable/contributor_*.png
